@model IEnumerable<Domain.Position>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Должности в компании</h2>

<button type="button" class="btn btn-secondary">
    @Html.ActionLink("Добавить должность", "Create")
</button>
<table class="table table-striped table-bordered" style="margin-top: 10px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-default" style="margin-left: 5px" href="@Url.Action("Edit",  new { id = item.Id })">Редактировать</a>
                <a class="btn btn-default" style="margin-left: 5px" href="@Url.Action("Delete",  new { id = item.Id })">Удалить</a>
            </td>
        </tr>
    }

</table>
